{
    "HOST": "https:://yourdomain.com",
    "PORT": 8291,
    "DATAS_DIR": "../_uploads",
    "LOGS_DIR": "../_logs",
    "SMTP": {
        "host": "",
        "user": "",
        "pass": "",
        "port": 587
    },
    "DEV_EMAIL": ""
}
